[color]
    ui = auto
  [color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
  [color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
  [color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor="mvim -f"
    excludesfile=~/.gitignore
[alias]
    br = branch
    ci = commit
    co = checkout
    dc = diff --cached
    df = diff
    lg = log -p
    lgp = log --pretty=oneline --abbrev-commit
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lgs = log --stat
    lgsp = log --stat -p
    ls = ls-files
    pl = !git fetch -p && git pull --ff-only
    st = status
    ss = show --stat
    ssp = show --stat -p
[user]
    name = Chavez
    email = matthew@el-chavez.me
[push]
    default = upstream
[pull]
    default = upstream
    rebase = true
[rebase]
    autosquash = true
