# OS X
*.DS_Store

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Vim
*.swp
*.un~

# Vagrant
.vagrant

# Extra setup marked private
.extra

# Rails
vendor/ruby/
coverage/

# Ruby
.bundle
.ruby-version
.ruby-gemset
.env
Procfile.dev

# R
.Rhistory

# Python
.venv
